body {
	text-align: center;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

.btn-group {
	margin: 5px;
}

.jumbotron {
	max-width: 700px;
	height: auto;
	text-align: center;
}

.panel {
	margin-top: 50px;
}

#resultarea {
	max-height: 500px;
	text-align: left;
	overflow-y: auto;
}

#calendar {
	float: left;
	margin-top: 100px;
	margin-bottom: 100px;
	max-width: 700px;
	}

#description {
	font-size: 18px;
}

#slider-range {
	width: 250px;
}

#title {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#termDropdown, #departmentDropdown {
	text-align:left;
}

/*







#departmentDropdown {
	text-align: left;
}




#term {
	margin-top: 5px;
	margin-left:60%;
}

#department{
	margin-top: 5px;
}


*/

